@font-face {
 font-family: kgneatly ;
 src: url(KGNeatlyPrintedSpaced.ttf);
}


.square{
 background-color: black;
/* width: calc(100%/16); /*depending on the number of the columns or row make it this*/
 border-color: gray;
 aspect-ratio: 1/1;
}

.container{
 display: flex;
 align-items: center;
 max-width: 300px;
 flex-wrap: wrap;
}

.hover{
 background-color: violet;
}