@font-face {
 font-family: kgneatly ;
 src: url(KGNeatlyPrintedSpaced.ttf);
}

*{
 background-color: #fbf9f6;
}
.square{
 background-color: black;
 flex: 1 5 auto;
 width: 18.75px;
 height: 18.75px;
 border: 1px solid gray;
}

.container{
 display: flex;
 align-items: center;
 max-width: 340px;
 max-height: 300px;
 flex-wrap: wrap;
}

.hover{
 background-color: violet;
}