@font-face {
 font-family: kgneatly ;
 src: url(KGNeatlyPrintedSpaced.ttf);
}

*{
 background-color: #fbf9f6;
}
.square{
 background-color: black;
 width: 18.75px;
 height: 18.75px;
 border: 1px solid gray;
}

.container{
 display: flex;
 flex-wrap: wrap;
 width: 340px;
 height: 300px;
}

.hover{
 background-color: violet;
}